#cytoscape_id {
    height: 500px;
    width: 70%;
    /* margin-top: 10px; */
    margin-left: 15.5%;
    /* margin-right: 20%; */
    /* padding-top: 30px; */
    z-index: 1;
    background-color: white;
    border: 1.5px solid;
    border-radius:0px 0px 15px 15px;
    border-style: outset;
    
  }